doctype html

mixin item(title, url)
  li(class='main-nav__li')
    a(href=url class= path == url ? 'active' : '' )=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='wrap')
      header(class='header')
        span(class='header__logo') LOGO
      section(class='main')
        nav(class='main-nav')
          ul(class='main-nav__ul')
            +item('Strona główna', '/')
            +item('Aktualności', '/news')
            +item('Ankieta', '/quiz')
            +item('Panel Admina', '/admin')
        aside(class='blog')  
          block content
