* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

.main {
  display: flex;
  flex-direction: row;
}

.blog {
  padding: 20px 50px;
}

.header {
  height: 150px;
  background-color: dimgray;
}

a {
  display: block;
  color: black;
  background-color: darkgrey;
  text-decoration: none;
  padding: 10px;
  transition: 1s;
}


.active {
  font-weight: bold;
  color: white;
  background-color: #666;
}

.main-nav__ul {
  list-style: none;
  width: 180px;
}

.main-nav__li {
  margin: 3px 0;
  text-align: center;
}